<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>priority</label>
      <select class="form-control form-control-lg" name="priority"  [(ngModel)]="taskFromTable.priority" #priority="ngModel"
              required>
        <option value="blocker">blocker</option>
        <option value="critical">critical</option>
        <option value="major">major</option>
        <option value="normal">normal</option>
        <option value="minor">minor</option>
      </select>
      <div [hidden]="priority.valid || priority.untouched" class="alert alert-danger">
        choose priority
      </div>
    </div>
    <div class="form-group">
      <label>estimation</label>
      <input class="form-control" name="estimation" [value]="taskFromTable.estimation"   [(ngModel)]="taskFromTable.estimation" #estimation="ngModel" required/>
      <div [hidden]="estimation.valid || estimation.untouched" class="alert alert-danger">
        pls set estimation
      </div>
    </div>


    <div class="form-group">
      <label>Assignee</label>
      <select class="form-control form-control-lg" name="assginee" [(ngModel)]="taskFromTable.assignee" #assignee="ngModel"
              required>
          <option *ngFor="let user of users">{{user.username}}</option>
      </select>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-left">Description:</h3>
        <div class="md-form">
        <textarea type="text" name="comment" id="form10" [value]="taskFromTable.description"  [(ngModel)]="taskFromTable.description"
                  class="md-textarea form-control" rows="5"></textarea>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default"
              (click)="updateTask()">
             Update
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
    </div>

  </div>
</ng-template>

<button type="button" class="btn btn-link" (click)="_openModal(template)">
  <i class="fa fa-edit fa-1x" style="color:black">edit</i>
</button>

<!--
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="dialog-sizes-name1" class="modal-title pull-left">Edit</h3>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Details:</h3>
        <div class="container text-center">
          <div class="row">
            <div class="col-sm-2">
              <h4 class="p-2 text-right">Priority:</h4>
              <h4 class="p-2 text-right ">assignee</h4>
            </div>
            <div class="col-sm-3">
              <select class="form-control form-control-lg" style="color:#black  " name="priority" [(ngModel)]="taskFromTable.priority" #priority="ngModel"
                      required >
                <option value="blocker">blocker</option>
                <option value="critical">critical</option>
                <option value="major">major</option>
                <option value="normal">normal</option>
                <option value="minor">minor</option>
              </select>
              <div class="form-group">
                <select class="form-control form-control-lg" name="assginee" [(ngModel)]="taskFromTable.assignee" #assignee="ngModel" required>
                  <option *ngFor="let user of users" [value]="user.username" selected>{{user.username}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <h4 class="p-2 text-right ">Reporter:</h4>
              <h4 class="p-2 text-right ">Estimation:</h4>
            </div>
            <div class="col-sm-3">
              <select class="form-control form-control-lg" name="reporter" [(ngModel)]="taskFromTable.reporter" #assignee="ngModel" required>
                <option *ngFor="let user of users" [value]="user.username" selected>{{user.username}}</option>
              </select>
             <input type="text" class="form-control form-control-lg" value="{{taskFromTable.estimation}}" name="estimation" [(ngModel)]="taskFromTable.estimation" #estimation="ngModel">
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      <hr>
        <div class="row">
          <div class="col-md-6">
        <h3>Description:</h3>
          </div>
          <div class="col-md-6">
          <h3>Attachements:</h3></div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" name="description" id="form10" [(ngModel)]="taskFromTable.description"  rows="5" value="{{taskFromTable.description}}"></textarea>
              </div>
              </div>
            <div class="col-md-6">
              </div>
          </div>
        </div>
      </div>
    <hr>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="updateTask(description,priority,estimation,assignee)">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
-->
